@model Kitchen.App.Models.PrzepisDetailsViewModel

@{
    ViewData["Title"] = Model.Nazwa;
}

<h1>@Html.DisplayFor(model => model.Nazwa)</h1>
@if (Model.UserId == Context?.User?.Claims?.Where(x => x.Type.Contains("nameidentifier"))?.FirstOrDefault()?.Value && Context.User.Identity.IsAuthenticated == true)
{
    <a href="@Url.Action("Delete", "Przepisy", new { id = Model.Id })" class="btn btn-danger float-lg-right">Usuń</a>
}

<br />
<br />
<div class="border-dark container-fluid text-center" style="border: 1px solid; border-radius: 20px; padding: 20px;">
    <div class="row">
        <div class="col-sm-4">
            <h6>LICZBA PORCJI</h6>
            <p>@Html.DisplayFor(model => model.LiczbaPorcji)</p>
        </div>
        <div class="col-sm-4">
            <h6>POCHODZENIE</h6>
            <p>@Html.DisplayFor(model => model.Region) @Html.DisplayFor(model => model.Kraj)</p>
        </div>
        <div class="col-sm-4">
            <h6>AUTOR</h6>
            <p>@Html.DisplayFor(model => model.Imie) @Html.DisplayFor(model => model.Nazwisko)</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <h6>BIAŁKO W PORCJI</h6>
            <p>@Html.DisplayFor(model => model.BialkoWPorcji)</p>
        </div>
        <div class="col-sm-4">
            <h6>TŁUSZCZE W PORCJI</h6>
            <p>@Html.DisplayFor(model => model.TluszczeWPorcji)</p>
        </div>
        <div class="col-sm-4">
            <h6>WĘGLOWODANY W PORCJI</h6>
            <p>@Html.DisplayFor(model => model.WeglowodanyWPorcji)</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <h6>WARTOŚĆ KALORII W PORCJI</h6>
            <p>@Html.DisplayFor(model => model.WartoscKalJednejPorcji)</p>
        </div>
        <div class="col-sm-4">
            <h6>SZACOWANA WARTOŚĆ</h6>
            <p>@Html.DisplayFor(model => model.SzacowanaWartosc)</p>
        </div>
    </div>
</div>
<br />
<br />

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Przepis)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Przepis)
</dd>
