@using Kitchen.Library.DataModels;
@model Kitchen.App.Models.RecipeDetailsViewModel

@{
    ViewData["Title"] = "Nowy przepis";

    IEnumerable<CategoryData> categories = ViewData["Categories"] as IEnumerable<CategoryData>;
    IEnumerable<RegionViewModel> regions = ViewData["Regions"] as IEnumerable<RegionViewModel>;
}

<h1>Dodaj przepis</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Subcategory" class="control-label">Kategoria</label>
                <select asp-for="Id_Subcategory">
                    @foreach (var cat in categories)
                    {
                        @foreach (var sub in cat.SubDirectories)
                        {
                            <option value="@sub.Id">@sub.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Id_Subcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe" class="control-label"></label>
                <input type="text" asp-for="Recipe" class="form-control" required />
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfServings" class="control-label">Liczba porcji</label>
                <input asp-for="NumberOfServings" class="form-control" />
                <span asp-validation-for="NumberOfServings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProteinsPerServingsInGrams" class="control-label">Bialko w porcji</label>
                <input asp-for="ProteinsPerServingsInGrams" class="form-control" />
                <span asp-validation-for="ProteinsPerServingsInGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarbohydratesPerServingsInGrams" class="control-label">Weglowodany w porcji</label>
                <input asp-for="CarbohydratesPerServingsInGrams" class="form-control" />
                <span asp-validation-for="CarbohydratesPerServingsInGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesPerServingsInGrams" class="control-label">Wartosc kal w jednej porcji</label>
                <input asp-for="CaloriesPerServingsInGrams" class="form-control" />
                <span asp-validation-for="CaloriesPerServingsInGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatsPerServingsInGrams" class="control-label">Wartosc kal w jednej porcji</label>
                <input asp-for="FatsPerServingsInGrams" class="form-control" />
                <span asp-validation-for="FatsPerServingsInGrams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedValue" class="control-label">Szacowana wartosc</label>
                <input asp-for="EstimatedValue" class="form-control" />
                <span asp-validation-for="EstimatedValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginId" class="control-label">Pochodzenie</label>
                <select asp-for="OriginId">
                    @foreach (var cat in regions)
                    {
                        <option value="@cat.Id">@cat.Region , @cat.Country</option>
                    }
                </select>
                <span asp-validation-for="OriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
